*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: black;
    scroll-behavior: smooth;
}






header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    
}

header .encabezado{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    
}

header .titulo{
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-left: 25px;
    font-family: fantasy;
}

span{
    color:darkturquoise;
}

nav{
    margin-top: 40px;
    margin-right: 550px;
    position:relative;

}

nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    transition: .3s;
    

}

nav a:hover{
     color: turquoise;

}

 .Buscador{
    position: relative;
    margin-top: 45px;
    margin-right: 75px;
}
.Buscador input{
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
    text-overflow: none;    
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease-in;

}
 
.Buscador input:hover{
    background-color: white;
    color: black;
}

.peliculas-titulo{
    color: white;
    margin-top: 150px;
    margin-bottom: 15px;
    margin-left: 175px;
    font-size: 35px;
    font-family: fantasy;
    transition: 0.3s ease-in;
    cursor: pointer;
    width: 0;
}

.peliculas-titulo:hover{
    color: turquoise;
    transform: scale(1.25);
}

.caja{
    cursor: pointer;
    font-weight: bold;
    width: 240px;
    height: 300px;
    line-height: 120px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    transition: 0.3s;
    
    
}



.caja:hover{
    transform: scale(1.15);    
    box-shadow: 5px 5px 10px white;
}
    
.peliculas{
    display: flex;
    text-align: center;
    width: 80%;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
  


 .Series .caja-contenedor{
     display: flex;
     
     width: 80%;
     flex-wrap: wrap;
     
 } 


 .Series .caja-contenedor .caja{
     border: 1px white solid;
     border-radius: 15px;


 }







.series-titulo{
      color: white;
      font-family: fantasy;
      margin-bottom: 25px;
      margin-left: 175px;
      margin-top: 25px;
      font-size: 35px;
      transition: 0.3s ease-in;
      width: 0;
      cursor: pointer;
  }

  .series-titulo:hover{
      color: turquoise;
      transform: scale(1.25);
  }


  .caja-img{
      margin-top: 0;
     
  }

  .caja img{
      border-radius: 5px;
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: 0;
      

  }

  .caja p{
      position: relative;
      font-size: 15px;
      margin-bottom: 0px;
      text-align: center;
  }
 
  
footer{
    width: 100%;
    height: 150px;
    border-top: 1px solid white;
    font-family: cursive;
    margin-top: 50px;
    background-color: gray;
    
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    margin: 50px auto;
    
    


}

.Encabezado-footer{
    margin-left: 45px;
}

.Encabezado-footer h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.Encabezado-footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;

}




.iconos-container i{
    padding: 5px;
    font-size: 20px;
    margin: 15px;
    transition: 0.4 ease-in;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    
}

.iconos-container i:hover{
    transform: scale(1.50);
    background-color: turquoise;
   
    
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    width: 400px;
    height: 400px;

}

.controladores{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    
    width: 100%;
    height: 100vh;

}

.controles{
    width: 400px;
    height: 500px;
    margin: auto;
}

.controles .formulario-texto{
    display: flex;
    justify-content: space-evenly;
}

.controles .formulario-texto ::placeholder{
    color: white;
}

.controles .formulario-texto input{
    padding: 10px 70px;
    margin-left: 20px;
    border: 1px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
    color: white;
}

.controles .formulario-email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles .formulario-email ::placeholder{
    color: white;
}

.controles .formulario-email input{
    padding: 10px 200px;
    background-color: transparent;
    border: 1px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
    color: white;

}

.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea textarea{
    background-color: transparent;
    border: 1px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
    min-width: 500px;
    max-height: 200px;
    outline: none;
    color: white;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button{
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid orangered;
}

.encabezado-contactame{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color:#191919;
    padding-top: 55px;
    
}

.encabezado-contactame .titulo h1{
    font-size: 35px;
    margin-left: 45px;
    color: white;
}

.navbar{
    margin-top: 15px;
    margin-right: 255px;
}

.encabezado-contactame .navbar a{
    padding-left: 105px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

 a{
    margin-left: 55px;
    margin-right: 55px;
    text-decoration: none;
}

.redes-sociales a i{
    
}